# Tuple
Constructing tuples

In [1]:
#Can create a tuple with mixed types
t=(4,5,6,7)

In [2]:
#Check len just like a list
len(t)

4

In [3]:
#Can also mix object types
t=('shri',5,'rakshi')

In [4]:
#show
t

('shri', 5, 'rakshi')

In [5]:
#Use indexing just like we did in lists
t[0]

'shri'

In [6]:
#Slicing just like a list
t[-1]

'rakshi'

## Basic Tuple method

In [7]:
#Use .index to enter a value and return the index
t.index('rakshi')

2

In [8]:
#Use .count to count the number of times a value appears
t.count('rakshi')

1

In [9]:
t.count(5)

1

In [10]:
t.count('shri')

1

### Immutability:

In [11]:
t[0]='Change'

TypeError: 'tuple' object does not support item assignment

In [12]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## When to use Tuples
### Sets:

In [13]:
x=set()

In [14]:
#We add to sets with the add() method
x.add('shri')

In [15]:
#show
x

{'shri'}

In [16]:
#Add a different element
x.add(5)

In [17]:
#show
x

{5, 'shri'}

In [18]:
# Try to add the same element
x.add(5)

In [19]:
#show
x

{5, 'shri'}

In [20]:
#create a list with repeats
l=['s','h','r','i','r','a','k','s','h','i']

In [21]:
#Cast as set to get unique values
set(l)

{'a', 'h', 'i', 'k', 'r', 's'}

# Dictionaries: 
### Constructing a dictionary

In [22]:
#Make a dictionary with {} and : to signify a key and a value
my_dict={'Key1':'value1','Key2':'value2'}

In [23]:
#show 
my_dict

{'Key1': 'value1', 'Key2': 'value2'}

In [24]:
dict={'name':'shri','state':'KARNATAKA','course':'python'}

In [25]:
dict

{'name': 'shri', 'state': 'KARNATAKA', 'course': 'python'}

In [26]:
#call values by their key
dict['course']

'python'

In [27]:
dict['state']

'KARNATAKA'

In [28]:
my_dict={'Key1':123,'Key2':[12,13,33],'Key3':['item0','item1','item2']}

In [29]:
my_dict

{'Key1': 123, 'Key2': [12, 13, 33], 'Key3': ['item0', 'item1', 'item2']}

In [30]:
dict={'num0':123,'num1':[11,13,31],'name':['shri0','rak1','shi2']}

In [31]:
#show
dict

{'num0': 123, 'num1': [11, 13, 31], 'name': ['shri0', 'rak1', 'shi2']}

In [32]:
# Let's call items from the dictionary
dict['name']

['shri0', 'rak1', 'shi2']

In [33]:
#Can call an index on that value
dict['name'][2]

'shi2'

In [34]:
#Can then even call methods on that value
dict['name'][0].upper()

'SHRI0'

In [35]:
dict['num0']

123

In [36]:
#substract 123 from the value
dict['num0']=dict['num0']-123

In [37]:
#check
dict['num0']

0

In [38]:
#set the object equal to itself minus 123
dict['num0']-=123

In [39]:
dict['num0']

-123

In [40]:
#Create a dictionary
d={}

In [41]:
#Creating new key through assignment
d['animal']='cat'

In [42]:
#Can do this any object
d['fruit']='apple'

In [43]:
#show
d

{'animal': 'cat', 'fruit': 'apple'}

## Nesting with dictionaries

In [44]:
#Dictionary nested inside a dictionary nested in side a dictionary
d={'Key1':{'nestkey':{'Subnestkey':'value'}}}

In [45]:
#Keep calling the keys
d['Key1']['nestkey']['Subnestkey']

'value'

In [46]:
d['Key1']#['nestkey']['Subnestkey']

{'nestkey': {'Subnestkey': 'value'}}

In [47]:
d['Key1']['nestkey']#['Subnestkey']

{'Subnestkey': 'value'}

# A few dictionary methods

In [48]:
#Create a typical dictionary
d={'key1':1,'key2':2,'key3':3}

In [49]:
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [50]:
dt={'sub1':'maths','sub2':'kannada','sub3':'science'}

In [51]:
dt

{'sub1': 'maths', 'sub2': 'kannada', 'sub3': 'science'}

In [52]:
#Method to return a list of all keys
dt.keys()

dict_keys(['sub1', 'sub2', 'sub3'])

In [53]:
#Method to grab all values
dt.values()

dict_values(['maths', 'kannada', 'science'])

In [54]:
#Method to return tuples of all items (we'll learn about tuples soon)
dt.items()

dict_items([('sub1', 'maths'), ('sub2', 'kannada'), ('sub3', 'science')])

## Dictionary comprehensions

In [55]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
{x:x*2 for x in range(11)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [57]:
{x:x**2 for x in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Functions
## def Statements

In [58]:
def name_of_function(arg1,arg2):
    "This is where the function's Document string (doc_string) goes"
    # Do stuff here
    #return desired result

In [59]:
def say_hello():
        print('hello')

In [60]:
say_hello()

hello

In [61]:
def greeting(name):
    print('Hello %s'%name)
greeting('rakshi')

Hello rakshi

In [62]:
def greeting(name):
    print('Hello %s'%name)
    print('how are you doing %s'%name)
greeting('rakshi')

Hello rakshi
how are you doing rakshi

## Using return

In [63]:
def add_num(num1,num2):
    return num1+num2

In [64]:
add_num(3,2)

5

In [65]:
#can also save as variable due to return
result=add_num(2,7)

In [66]:
print(result)

9

In [67]:
print(add_num('shri\t','rakshi'))

shri	rakshi

In [68]:
def is_prime(num):
    "naive method of checking for primes"
    for n in range(2,num):
        if num%n==0:
            print('not prime')
            break
        else:# If never mod zero,then prime
            print('prime')
is_prime(6)

not prime

In [69]:
def is_prime(num):
    "naive method of checking for primes"
    for n in range(2,num):
        if num%n==0:
            print('not prime')
            break
        else:# If never mod zero,then prime
             print('prime')
             break
is_prime(11)

prime

In [70]:
import math
def is_prime(num):
    " A Better method of checking for prime"
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
        return True
is_prime(11)

True

In [71]:
import math
def is_prime(num):
    " A Better method of checking for prime"
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
        return True
is_prime(10)

False

## Iterator and Generator

In [72]:
#generate function for the cube of numbers(number of 3)
def gencubes(n):
    for num in range(n):
        yield num**3

In [73]:
for x in gencubes(11):
    print(x)

0
1
8
27
64
125
216
343
512
729
1000

In [74]:
for x in gencubes(15):
    print(x)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744

In [75]:
def fibon(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    return output

In [76]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [77]:
fibon(15)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [79]:
fibon(5)

[1, 1, 2, 3, 5]

In [ ]:
def genfibon(n):
    "Generate a fibonacci up to n"
    a=1
    b=1
    for i in range(n):
        yeild a
        a,b=b,a+b
for num in generation(10):
    print(num)

## next() and iter() built-in functions

In [118]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [126]:
s='shri'
#Iterate over string
for let in s:
    print(let)

s
h
r
i

In [127]:
next(s)

TypeError: 'str' object is not an iterator

In [129]:
s_iter=iter(s)

In [130]:
next(s_iter)

's'

In [131]:
next(s_iter)

'h'

In [132]:
next(s_iter)

'r'

In [133]:
next(s_iter)

'i'

## map()

In [139]:
def fahrenheit(T):
    return((float(9)/5)*T+32)
def Celsius(T):
    return(float (5)/9)*(T-32)
temp=[0,22.5,40,100]

In [140]:
F_temps=list(map(fahrenheit,temp))

In [141]:
#show
F_temps

[32.0, 72.5, 104.0, 212.0]

In [143]:
#convert back
list(map(Celsius,F_temps))

[0.0, 22.5, 40.0, 100.0]

In [144]:
list(map(lambda x:(5.0/9)*(x-32),F_temps))

[0.0, 22.5, 40.0, 100.0]

In [145]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]
list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

In [146]:
#Now all three lists
list(map(lambda x,y,z:x+y+z,a,b,c))

[15, 18, 21, 24]

## reduce()

In [150]:
from functools import reduce
lst=[4,11,42,13]
reduce(lambda x,y:x+y,lst)

70

In [163]:
from functools import reduce
lst=[47,11,42,62]
reduce(lambda x,y:x+y,lst)

162

In [164]:
#Find the maximum of a sequence(this already exists as max())
max_find=lambda a,b:a if(a>b)else b

In [165]:
#Find max
reduce(max_find,lst)

62

In [166]:
print(lst)

[47, 11, 42, 62]

## filter:

In [184]:
#First let's make a function
def even_check(num):
    if num%2==0:
        return True
lst=range(30)
list(filter(even_check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [189]:
list(filter(lambda x:x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]